---
layout: base.njk
---
<section id="hero">
    <img class="full-width" src="assets/img/hero-background.jpg" />
    <div class="overlay" />
    <div class="flex-row items-center justify-between" id="navbar">
        <img src="assets/img/logo.png" />
        <nav class="flex-row items-center gap-lg">
            <a href="/tires">TIRES</a>
            <a href="/about">ABOUT US</a>
            <a class="button button-primary" href="/contact">CONTACT US</a>
        </nav>
    </div>
    <div class="flex-row justify-center">
        <div class="flex-col items-center text-center gap-md mw-text-md">
            <h1>AUTOMOTIVE REPAIRS AND MAINTENANCE</h1>
            <p>At Schneider Automotive Services, we provide honest, expert automotive repair and maintenance to keep your vehicle running smoothly. Located in Smithville, MO, we proudly serve local drivers with everything from routine oil changes to diagnostics and full-service repairs—done right the first time.</p>
            <a class="mt-lg button button-primary" href="/contact">CONTACT US</a>
        <div>
    </div>
</section>
<main>
    <section class="flex-row">
        <div class="flex-col gap-md">
            <h2>WELCOME TO SCHNEIDER AUTOMOTIVE SERVICES!</h2>
            <p>Conveniently located off US-169 Highway—in the same building as Dave’s Auto Body & Hot Rod Shop—Matthew Schneider offers top-quality auto services with a personal touch. Whether you need routine vehicle maintenance, brake repairs, or help with a major issue, we’re committed to keeping your vehicle on the road, running smooth and safe.</p>
            <div class="mt-lg">
                <a class="button button-primary" href="/contact">BOOK YOUR APPOINTMENT TODAY</a>
                <a class="button button-secondary" href="/about">LEARN MORE ABOUT US</a>
            </div>
        </div>
        <img src="assets/img/logo.png" />
    </section>
    <section class="flex-col items-center gap-xl">
        <div class="flex-col text-center gap-md mw-text-md">
            <h2>OUR SERVICES</h2>
            <p>Our skilled, certified mechanic handles a full range of automotive services for all makes and models. Whether it’s routine maintenance or complex repairs, we’ve got the tools, training, and experience to get the job done right.</p>
        </div>
        <div class="gap-xl" id="services-table">
            <div class="flex-row items-center gap-md">
                <p>A</p>
                <h3>ENGINE REPAIR</h3>
            </div>
            <div class="flex-row items-center gap-md">
                <p>A</p>
                <h3>BRAKE REPAIR</h3>
            </div>
            <div class="flex-row items-center gap-md">
                <p>A</p>
                <h3>SUSPENSION REPAIR</h3>
            </div>
            <div class="flex-row items-center gap-md">
                <p>A</p>
                <h3>OIL CHANGES</h3>
            </div>
            <div class="flex-row items-center gap-md">
                <p>A</p>
                <h3>A/C REPAIR</h3>
            </div>
            <div class="flex-row items-center gap-md">
                <p>A</p>
                <h3>TIRE REPAIR</h3>
            </div>
            <div class="flex-row items-center gap-md">
                <p>A</p>
                <h3>PREVENTATIVE MAINTENANCE</h3>
            </div>
            <div class="flex-row items-center gap-md">
                <p>A</p>
                <h3>ELECTRICAL DIAGNOSIS & REPAIR</h3>
            </div>
        </div>
    </section>
    <section class="flex-col items-center text-center gap-md background-dark pad-xl round">
        <h2>TIRES FOR EVERY VEHICLE PASSENGER, MEDIUM & HEAVY DUTY</h2>
        <p>Looking for the right tires in Smithville, MO? We carry a full selection of passenger, medium duty, and heavy duty tires from trusted brands like Michelin, Goodyear, Firestone, and more. Whether you're outfitting a work truck, replacing tires on your family SUV, or managing a commercial fleet, we’ve got the tires and expertise to match.</p>
        <a class="mt-lg button button-primary" href="/tires">BROWSE TIRE OPTIONS</a>
    </section>
    <section class="flex-col gap-xl items-center">
        <h2>WHAT OUR CUSTOMERS SAY</h2>
        <div id="review-on-google" class="flex-row justify-between items-center background-off-color full-width">
            <img src="assets/img/google.png" />
            <!-- TODO: Google review link -->
            <a class="button button-primary" href="#">REVIEW US ON GOOGLE</a>
        </div>
        <div class="gap-lg full-width" id="reviews">
            <article class="flex-col gap-md items-center text-center background-off-color pad-md">
                <p>He did amazing job replacing my turbo in my Chevy classic durmax</p>
                <!-- TODO: Google review link -->
                <a class="text-off-color" href="#">Read More</a>
                <p>Yougian NEVER LET GO</p>
                <p class="text-off-color">1 month ago</p>
            </article>
            <article class="flex-col gap-md items-center text-center background-off-color pad-md">
                <p>He did amazing job replacing my turbo in my Chevy classic durmax</p>
                <!-- TODO: Google review link -->
                <a class="text-off-color" href="#">Read More</a>
                <p>Yougian NEVER LET GO</p>
                <p class="text-off-color">1 month ago</p>
            </article>
            <article class="flex-col gap-md items-center text-center background-off-color pad-md">
                <p>He did amazing job replacing my turbo in my Chevy classic durmax</p>
                <!-- TODO: Google review link -->
                <a class="text-off-color" href="#">Read More</a>
                <p>Yougian NEVER LET GO</p>
                <p class="text-off-color">1 month ago</p>
            </article>
            <article class="flex-col gap-md items-center text-center background-off-color pad-md">
                <p>He did amazing job replacing my turbo in my Chevy classic durmax</p>
                <!-- TODO: Google review link -->
                <a class="text-off-color" href="#">Read More</a>
                <p>Yougian NEVER LET GO</p>
                <p class="text-off-color">1 month ago</p>
            </article>
        </div>
    </section>
</main>
