---
layout: base.njk
---
<section class="flex-col gap-md hero" id="tires-hero">
    {% include "navbar.njk" %}
    <div class="flex-row justify-center">
        <div class="flex-col items-center text-center gap-md bound-text">
            <h1>TIRES FOR EVERY VEHICLE</h1>
            <p>At Schneider Automotive Services, we specialize in matching the right tires to your vehicle—whether it’s your daily driver or part of your commercial fleet. We proudly serve drivers and businesses in Smithville and the greater Kansas City area with quality brands, expert service, and a commitment to getting you back on the road safely.</p>
            <a class="mt-lg button button-primary" href="/contact">CONTACT US</a>
        </div>
    </div>
    <div class="overlay" />
</section>
<main>
    <section id="brands-we-work-with" class="flex-col items-center gap-xl">
        <h2 class="text-center">BRANDS WE WORK WITH</h2>
        <div class="gap-md" id="brands-grid">
            <div><img src="/assets/img/atturo.png" /></div>
            <div><img src="/assets/img/kelly-tires.png" /></div>
            <div><img src="/assets/img/hankook.png" /></div>
            <div><img src="/assets/img/goodyear.png" /></div>
            <div><img src="/assets/img/michelin.png" /></div>
            <div><img src="/assets/img/milestar.png" /></div>
        </div>
    </section>
    <section id="tire-classes" class="flex-col gap-xl items-center mt-xl">
        <div class="flex-row gap-xl">
            <div class="flex-col gap-md bound-text">
                <h2>PASSENGER TIRES</h2>
                <p>We carry a wide selection of passenger tires for sedans, SUVs, and crossovers—whether you’re looking for all-season traction, fuel efficiency, or sporty performance. Our experts will help you choose the right tire for your needs, driving habits, and budget.</p>
            </div>
            <img src="/assets/img/passenger-tires.jpg" />
        </div>
        <div class="divider"></div>
        <div class="flex-col text-center items-center gap-xl bound-text">
            <h2>MEDIUM DUTY TIRES - OUR SPECIALTY</h2>
            <p>From work vans and delivery trucks to flatbeds and utility vehicles, medium-duty tires are a different breed—and we know them better than anyone in the Smithville area.<br/><br/>Schneider Automotive is one of the few shops in the region equipped to handle medium-duty tire sales and service. We stock a range of commercial-grade options and can source just about any brand, including Atturo, Milestar, Hankook, and Goodyear, often at better prices than the big chains.</p>
        </div>
        <div class="divider"></div>
        <div class="flex-row gap-xl">
            <div class="flex-col gap-md bound-text">
                <h2>HEAVY DUTY TIRES</h2>
                <p> Our heavy duty tire selection supports trucks and commercial vehicles that carry serious loads across long distances. Whether you're operating a delivery truck, RV, or heavy hauler, we offer rugged tires built to perform under pressure.</p>
            </div>
            <img src="/assets/img/heavy-duty-tires.jpg" />
        </div>
    </section>
</main>
