:root {
    --green: #038749;

    --font-weight-normal: 400;
    --font-weight-semibold: 600;
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: var(--font-weight-normal);
    font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Fira Sans", sans-serif;
    font-weight: var(--font-weight-semibold);
}

h1 {
    font-size: 80px;
}

h2 {
    font-size: 65px;
}

h3 {
    font-size: 30px;
}

a {
    color: inherit;
    text-decoration: none;
}

.button,
button {
    padding: 12px 20px;
    border-radius: 5px;
    font-weight: var(--font-weight-semibold);
}

a.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.button-primary {
    background-color: var(--green);
    color: white;
}

.button-secondary {
    border: solid 1px var(--green);
    background-color: white;
    color: var(--green);
}

.background-off-color {
    background-color: #EFEFEF;
}

.background-dark {
    background-color: black;
    color: white;
}

.background-gradient {
    background: linear-gradient(180deg, #038749 0%, #02552E 30.22%, #01301A 68.69%, #012112 100%);
    color: white;
}

.text-green {
    color: var(--green);
}

.text-off-color {
    color: #656565;
}

.background-dark .text-off-color {
    color: #F7F7F7;
}

.divider {
    height: 1px;
    width: 650px;
    background-color: var(--green);
}

.flex-row {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.items-center {
    align-items: center;
}

.items-start {
    align-items: start;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.text-center {
    text-align: center;
}

.full-width {
    width: 100%;
}

.half-width {
    width: 50%;
}

.mt-lg {
    margin-top: 32px;
}

.pad-md {
    padding: 16px;
}

.pad-xl {
    padding: 64px;
}

.gap-md {
    gap: 16px;
}

.gap-lg {
    gap: 32px;
}

.gap-xl {
    gap: 64px;
}

.round {
    border-radius: 5px;
}

.bound-text {
    max-width: 800px;
}

.logo-big {
    width: 400px;
    height: 400px;
}

.logo-small {
    width: 150px;
    height: 150px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    padding: 80px 100px;
}

main > section {
    width: 100%;
}

#navbar {
    padding-right: 64px;
}

#home-hero {
    background-image: url("../img/hero-background.jpg");
}

#about-hero {
    background-image: url("../img/about-hero.jpg");
}

.hero {
    background-size: cover;
    position: relative;
    color: white;
}

.hero {
    padding-bottom: 80px;
}

.hero, #navbar-wrapper {
    padding-top: 24px;
    padding-left: 120px;
    padding-right: 120px;
}

.hero > div {
    position: relative;
    z-index: 1;
}

.hero > .overlay {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
}


#services-table {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#tires-for {
    background-image: url("../img/rolling-tire.jpg");
    background-size: cover;
    position: relative;
    color: white;
    overflow: hidden;
}

#tires-for > div {
    position: relative;
    z-index: 1;
}

#tires-for > .overlay {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

#review-on-google {
    padding: 8px 64px;
}

#review-on-google > img {
    width: 230px;
}

#reviews {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: stretch;
}

#reviews > article > p {
    flex-grow: 1;
}

#shop-image {
    width: 500px;
}

#meet-the-team > h2 {
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 32px;
    border-bottom: solid 1px var(--green);
}

#meet-the-team img {
    height: 439px;
}

#values-grid {
    display: grid;
    gap: 64px;
    grid-template-columns: repeat(2, 1fr);
}

#contact-iframe {
    width: 100%;
    height: 700px;
    border: none;
}

footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.footer-column-header {
    font-size: 20px;
    border-bottom: solid 1px var(--green);
    padding-bottom: 8px;
    width: 128px;
}
