<section class="only-mobile flex-col gap-lg items-center text-center">
    <h2>GET BACK ON THE ROAD WITH CONFIDENCE</h2>
    <img id="shop-image" src="/assets/img/shop.png" />
    <p>Ready to get your vehicle running like new? Contact Schneider Automotive Services today for reliable, expert repairs and maintenance that you can count on!</p>
    <a class="button button-primary" href="/contact">CONTACT US</a>
</section>
<section class="only-desktop flex-row gap-xl justify-center">
    <div class="flex-col items-start gap-lg">
        <h2>GET BACK ON THE ROAD<br/>WITH CONFIDENCE</h2>
        <p class="bound-700">Ready to get your vehicle running like new? Contact Schneider Automotive Services today for reliable, expert repairs and maintenance that you can count on!</p>
        <a class="button button-primary mt-lg" href="/contact">CONTACT US</a>
    </div>
    <img id="shop-image" src="/assets/img/shop.png" />
</section>
