<!doctype html>
<html lang="en">
    <head>
        <title>Schneider Automotive Services</title>
        <link rel="stylesheet" href="assets/css/style.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    </head>
    <body>
        {{ content | safe }}
        <footer class="background-dark pad-xl">
            <div class="flex-col gap-md items-center">
                <img class="logo-small" src="assets/img/logo.png" />
                <div class="flex-row gap-md justify-center">
                    <a href="#">
                        <img src="assets/img/facebook.svg" />
                    </a>
                    <a href="#">
                        <img src="assets/img/instagram.svg" />
                    </a>
                </div>
                <a class="text-off-color" href="/privacy">Privacy Policy</a>
            </div>
            <div class="flex-col gap-lg items-start">
                <p class="footer-column-header">CONTACT</p>
                <p class="text-off-color">(816) 746-8669</p>
                <p class="text-off-color">General:<br/>schneiderautoservices@gmail.com</p>
                <p class="text-off-color">Commercial Tires:<br/>Sales@schneiderautoservices.com</p>
                <p class="text-off-color">513 US 169 HWY STE A<br/>Smithville, MO 64089</p>
            </div>
            <div class="flex-col gap-lg items-start">
                <p class="footer-column-header">HOURS</p>
                <p class="text-off-color">Monday - Saturday: 9AM - 5PM</p>
                <p class="text-off-color">Sunday: Closed</p>
            </div>
            <div class="flex-col gap-lg items-start">
                <p class="footer-column-header">QUICK LINKS</p>
                <a class="text-off-color" href="/">HOME</a>
                <a class="text-off-color" href="/tires">TIRES</a>
                <a class="text-off-color" href="/about">ABOUT US</a>
                <a class="text-off-color" href="/contact">CONTACT</a>
            </div>
        </footer>
    </body>
</html>
