<div id="navbar-mobile">
    <a href="/"><img class="logo-small" src="/assets/img/logo.png" /></a>
    <button id="hamburger"><img src="/assets/img/hamburger.svg" /></button>
</div>
<div id="navbar-desktop">
    <a href="/"><img class="logo-small" src="/assets/img/logo.png" /></a>
    <nav class="flex-row items-center gap-lg">
        <a href="/tires">TIRES</a>
        <a href="/about">ABOUT US</a>
        <a class="button button-primary" href="/contact">CONTACT US</a>
    </nav>
</div>
