<div id="navbar-mobile">
    <a href="/"><img class="logo-small" src="/assets/img/logo.png" /></a>
    <button class="hamburger-control" onclick="hamburgerOpen()">
        <img src="/assets/img/hamburger-{{ variant }}.svg" />
    </button>
    <nav id="navbar-mobile-dropdown">
        <div class="flex-row justify-between full-width">
            <a href="/"><img class="logo-small" src="/assets/img/logo.png" /></a>
            <button class="hamburger-control" onclick="hamburgerClose()">
                <img src="/assets/img/hamburger-close-dark.svg" />
            </button>
        </div>
        <a class="not-button" href="/tires">TIRES</a>
        <a class="not-button" href="/about">ABOUT</a>
        <a class="button button-primary" href="/contact">CONTACT US</a>
    </nav>
    <script>
        function hamburgerOpen() {
            const navbar = document.getElementById("navbar-mobile");
            navbar.classList.add("expanded");
        }

        function hamburgerClose() {
            const navbar = document.getElementById("navbar-mobile");
            navbar.classList.remove("expanded");
        }
    </script>
</div>
<div id="navbar-desktop">
    <a href="/"><img class="logo-small" src="/assets/img/logo.png" /></a>
    <nav class="flex-row items-center gap-lg">
        <a href="/tires">TIRES</a>
        <a href="/about">ABOUT US</a>
        <a class="button button-primary" href="/contact">CONTACT US</a>
    </nav>
</div>
